{:paths   ["src" "resources"]

 :deps    {org.clojure/clojurescript {:mvn/version "1.10.758"}
           org.clojure/core.async    {:mvn/version "1.3.610"}
           org.clojure/tools.cli     {:mvn/version "1.0.194"}
           rum/rum                   {:mvn/version "0.12.3"}}

 :aliases {:develop {:main-opts ["--main"         "cljs.main"
                                 "--compile-opts" "cljs.edn"
                                 "--watch"        "src"
                                 "--compile"]}
           :publish {:main-opts ["--main"          "cljs.main"
                                 "--compile-opts"  "cljs.edn"
                                 "--optimizations" "advanced"
                                 "--compile"]}}}
