body {
    background-color: #F2F2EB;
    color: #461B0E;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-weight: 700;
    font-size: 150%;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

pre {
    font-family: monospace;
    font-size: 12px;
}

.layout {
    display: flex;
    margin: 24px auto 24px auto;
    width: 960px;
}

.layout > .column {
    flex: 1;
    margin: 0 16px;
}

.header {
    margin-bottom: 12px;
}

.board {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board::before {
    content: '';
    display: block;
    padding-bottom: 100%;
    width: 0;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.board > div:first-child{
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.board > div {
    background-color: #607d8b;
    border-radius: 4px;
    color: #F2F2EB;
    cursor: pointer;
    font-size: 64px;
    text-align: center;
}

.statuses {
    display: flex;
    justify-content: space-between;
}

.statuses > .status {
    line-height: 1;
    align-items: center;
    display: flex;
}

.statuses > .status:last-child {
    margin-left: auto;
    text-align: right;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.side {
    background-color: #607d8b;
    border-radius: 4px;
    color: #F2F2EB;
    font-size: 40px;
    height: 40px;
    line-height: 1;
    text-align: center;
    width: 40px;
}

.crosses {
    margin-right: 8px;
}

.circles {
    margin-left: 8px;
}
